/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      0deg,
      var(--gradient-lines-color) 0px 2px,
      transparent 2px 4px,
      var(--gradient-lines-color) 4px 6px,
      transparent 6px 8px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gradient-lines-color) 0px 2px,
      transparent 2px 4px,
      var(--gradient-lines-color) 4px 6px,
      transparent 6px 8px
    ),
    linear-gradient(
      var(--top-gradient-color) 0vh,
      var(--bot-gradient-color) 100vh
    );
  background-size: cover;
  background-position: center;
  color: var(--main-color);
}
.header {
  min-height: 364px;
  max-width: 700px;
  border: 2px solid var(--main-color);
  margin: 100px auto 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  font-family: var(--second-family);
  background-color: var(--bg-color);
  padding: 23px;
}
.logo-group {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 455px;
  margin: 0;
  font-size: clamp(3rem, 2.659rem + 1.56vw, 4.063rem);
  text-transform: uppercase;
  justify-content: center;
  gap: 20px;
  color: var(--main-color);
  margin-bottom: 14px;
}
.header_tag {
  font-size: clamp(0.875rem, 0.694rem + 0.826vw, 1.438rem);
}
.theme-menu__list {
  height: auto;
  min-height: 70px;
  padding-left: 17px;
}
.theme-menu__button {
  background-color: inherit;
  border: none;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 110%;
  margin-top: 8px;
}
.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--theme-button-accent-color);
}
.theme-menu__button:disabled.theme-menu__button::before {
  content: "▶";
  color: var(--main-color);
  opacity: 0.6;
  position: absolute;
  z-index: 50;
  animation: ▶ 0.5s ease-in-out alternate infinite;
  transform: translateX(-20px);
}
.theme-menu__button::after {
  transform: scaleX(0);
  transition: 0.3s linear ease;
}
.theme-menu__button:focus-visible {
  outline: none;
}
.theme-menu__button:focus-visible.theme-menu__button::after {
  content: "";
  width: 10px;
  height: 2px;
  margin-top: 14px;
  position: absolute;
  transform: scaleX(1);
  background-color: var(--theme-button-accent-color);
}
.theme-menu__button:hover {
  cursor: pointer;
  transition: 0.3s linear;
  transition-timing-function: ease-in-out;
  color: var(--theme-button-accent-color);
}
.card {
  max-width: 696px;
  margin: auto;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  margin-bottom: 55px;
}
.card_title {
  font-weight: 580;
  padding: 5px 10px;
}
.card_image {
  position: relative;
  max-width: 692px;
  padding: 0;
  margin: 0;
}
.sepia_filter {
  filter: sepia(50%);
}
.brightness_filter {
  filter: brightness(40%);
}
.blur_filter {
  filter: blur(3px);
}
.saturate_filter {
  filter: saturate(20%);
}
.contrast_filter {
  filter: contrast(40%);
}
.grayscale_filter {
  filter: grayscale(50%);
}
.invert_filter {
  filter: invert(80%);
}
.decorate {
  position: relative;
}
.decorate::before {
  content: "</html>";
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  z-index: 1;
  font-family: var(--second-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
}
.card_content {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.card_desc {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}
.like_buttons {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  height: 38px;
  width: 260px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.button__text {
  position: relative;
  z-index: 40;
  color: var(--button-text-color);
  font-size: 14px;
  mix-blend-mode: difference;
}
.card__like-button {
  border: 2px solid var(--main-color);
  font-family: var(--second-family);
  font-size: 14px;
  width: 130px;
  height: 38px;
  background-color: var(--bg-color);
  padding-top: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.like-icon {
  background-color: inherit;
  border: none;
  position: relative;
  z-index: 15;
}
.sparks {
  opacity: 0;
}
.like-icon.is-liked .sparks {
  animation: heartsparks 0.3s ease-in 0.3s;
}
.core {
  opacity: 0;
}
.main-body {
  opacity: 0;
}
.like-icon:hover .core {
  opacity: 1;
  fill: var(--black-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
}
.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--black-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.05s;
}
.like-icon .core {
  opacity: 0;
  fill: var(--black-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.1s;
}
.like-icon .main-body {
  opacity: 0;
  fill: var(--black-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
}
.like-icon:active .core {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
}
.like-icon:active .main-body {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.05s;
}
.like-icon:active .core {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
}
.like-icon:active .main-body {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.05s;
}
.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
}
.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.15s;
}
.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--red-color-heart);
  transition: fill 0.3s linear, opacity 0.3s linear;
  transition-delay: 0.25s;
}
.is-liked.like-icon {
  animation: heartscale 0.3s ease-in 0.3s;
}
.card__like-button::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 38px;
  z-index: -5;
  transform: translate(-165px, -13px);
  pointer-events: none;
  cursor: none;
}
.card__like-button:hover.card__like-button::before {
  transform: translate(-37px, -13px);
  transition: 0.5s ease-in-out  ;
  background-color: var(--main-color);
}
.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--main-color);
}
.footer {
  width: 338px;
  height: 55px;
  background-color: var(--bg-color);
  margin: auto;
  margin-bottom: 105px;
  border: 2px solid var(--main-color);
}
.footer__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border: none;
  background-color: var(--bg-color);
  font-family: var(--second-family);
  height: 51px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.footer__button:hover.footer__button::before {
  transform: translateX(-18px);
  transition: 0.5s ease-in-out;
}
.footer__button:focus-visible {
  outline: none;
  box-shadow: 4px 4px var(--main-color);
}
.footer__button::before {
  content: '';
  width: 338px;
  height: 55px;
  background-color: var(--main-color);
  position: absolute;
  z-index: 12;
  transform: translateX(-357px);
}
.floppy {
  position: relative;
  z-index: 10;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}
.dialog  {
  width: 353px;
  height: 191px;
}
@media (max-width: 375px) {
  .header {
    max-width: 375px;
  }
  .card_image {
    max-width: 371px;
  }
  .footer {
    width: 306px;
    height: 84px;
  }
  .footer__button {
    height: 100%;
    flex-direction: column;
    padding: 15px 18px;
  }
  .footer__button::before {
    transform: translate(-350px, -18px);
    height: 84px;
  }
  .footer__button:hover.footer__button::before {
    transform: translate(-18px, -18px);
  }
}
@keyframes ▶ {
  from {
    transform: translateX(-25px);
  }
  to {
    transform: translateX(-20px);
  }
}
@keyframes heartscale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
@keyframes heartsparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}